@value makerWhite, makerBlack, makerLightGrey, makerShadow, makerPink, makerGreen, makerWheat ,makerColorful from '../common/colors.css';
@value mediaSize from '../common/size.css';
.body {
  width: 88vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background: makerWhite;
  color: black;
  display: flex;
  overflow: hidden;
}

.loginLogo {
  margin-bottom: 18px;
  color: Black;
  font-weight: 500;
  font-size: 35px;
}
.title {
  margin: 0px;
  margin-top: 10px;
  font-size: 27px;
}
.itemBox {
  overflow-y: auto;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted lightgrey;
  background: makerWhite;
}
.ulList {
  padding: 0px;
  width: 90%;
}
.list {
  list-style: none;
}

.prePictureBox {
  flex-basis: 25%;
  text-align: center;
}
.preTitle {
  font-size: 25px;
  font-weight: 500;
}
.previewBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 160px;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 5px 8px 0px makerShadow;
}
.previewBox.dark {
  background-color: makerBlack;
  color: makerWhite;
}
.previewBox.light {
  background-color: makerWhite;
  border: 0.2px solid makerWheat;
  color: makerBlack;
}
.previewBox.colorful {
  background: makerColorful;
  color: makerBlack;
}
/* 그라데이션은 그냥 background-color말고 그냥 background써야한다. */

.prePicture {
  max-height: 130px;
  border-radius: 50%;
  padding-left: 7px;
}
.preTextBox {
  flex-basis: 70%;
  padding-left: 7px;
}
.company::after {
  content: "";
  display: block;
  height: 1px;
  width: 90%;
  background-color: makerWheat;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 2px;
  box-sizing: border-box;
}
.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
  margin-bottom: 1em;
}
.form .button {
  background-color: makerGreen;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  flex: 1 1 50%;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.form .fileButton {
  color: black;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  height: 100%;
  background-color: makerPink;
  width: 100%;
  border: 0;
}
.form .fileContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  padding: 0px;
}

.form .fileUploaderInput {
  display: none;
}
.form .fileButton:hover {
  opacity: 0.8;
}
.form .button:hover {
  opacity: 0.8;
}

.input,
.textarea,
.select,
.button,
.fileContainer {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  background: makerWhite;
}
.input,
.select {
  flex: 1 1 30%;
}
.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}
.textarea {
  flex-basis: 100%;
}

.loading {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 3px solid makerLightGrey;
  border-top: 3px solid makerPink;
  animation: spin 2s linear infinite;
}

@media screen and (max-width: mediaSize) {
  .content {
    flex-direction: column;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
